build/
logs/
/distr/
bin/
gen/
.DS_Store
*.pydevproject
.metadata
.gradle
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse
application_log.*
.idea/
*.iml
src/main/resources/application-development.properties
pid